.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: var(--background-color-light);
  padding: 20px;
  border-radius: var(--border-radius);
  min-width: 300px;
  max-width: 900px;
  max-height: 90%;
  overflow-y: auto;
  position: relative;
  box-shadow: var(--box-shadow);
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.modalTitle {
  margin: 0;
  font-size: 1.5em;
  color: var(--text-color-dark);
}

.closeButton {
  background: none;
  border: none;
  font-size: 1.8em;
  cursor: pointer;
  color: var(--icon-color);
  padding: 0 5px;
}

.closeButton:hover {
  color: var(--primary-color);
}

.modalBody {
  
}
